<form [formGroup]="listForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="find-field">
    <mat-label>Find item</mat-label>
    <input id="find" matInput type="text" formControlName="find" />
  </mat-form-field>

  <mat-list>
    @for (item of items(); track item) {
    <mat-list-item>{{ item.value }}</mat-list-item>
    }
  </mat-list>

  <mat-form-field class="input-field">
    <mat-label>New item</mat-label>
    <input id="input" matInput type="text" formControlName="input" />
    @if (listForm.get('input')?.hasError('required')) {
    <mat-error>'New item' is <strong>requierd</strong></mat-error>
    }
  </mat-form-field>
  <button mat-flat-button color="primary">Add item</button>
</form>
